h1 {
  font-family: sans-serif;
  font-size: 2rem;
}

.text-margin {
  margin-left: 10px;
}

.room-margin {
  margin-bottom: 10px;
  font-family: sans-serif;
  color: #9a9a9c;
}

#left-bar {
  position: absolute;
  background-color: #dedede;
  width: 250px;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
}
